<h1>Post</h1>

<table class="table table-dark">
  <tr>
    <th>ID</th>
    <th>User ID</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr>
    <td>{{ livePost.id }}</td>
    <td>{{ livePost.userId }}</td>
    <td>{{ livePost.title }}</td>
    <td>{{ livePost.body }}</td>
  </tr>
</table>

<hr />

<h1>Static Post</h1>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>User ID</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr>
    <td>{{ staticPost.id }}</td>
    <td>{{ staticPost.userId }}</td>
    <td>{{ staticPost.title }}</td>
    <td>{{ staticPost.body }}</td>
  </tr>
</table>
